body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #2a629a;
}

.ogn-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #ff7f3e;
}

#adicionarTarefa {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 2px solid rgb(93, 92, 92);
  margin-bottom: 20px;
}

#adicionarTarefa label {
  margin-bottom: 5px;
}

#adicionarTarefa button {
  background-color: #ff7f3e; /* Laranja queimado */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* Efeito hover */
}

#adicionarTarefa button:hover {
  background-color: #d65f2e; /* Laranja queimado mais escuro */
}

#adicionarTarefa input,
#adicionarTarefa textarea {
  padding: 8px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

#descricaoTarefa {
  resize: none;
  max-width: 11rem;
  max-height: 5rem; /* Ajuste a altura desejada */
}

#novaTarefa {
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
}
